[Unit]
Description=Signal Tower Lamp Detector
After=local-fs.target
ConditionPathExists=/home/pi/catkin_ws/src/py_control

[Service]
ExecStart=/home/pi/catkin_ws/src/py_control/py_control.sh
ExecStop=/bin/kill ${MAINPID}
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3
KillMode=mixed
Type=simple
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
