<launch>
    <!-- 起動制限 -->
    <arg name="Limit_HardIO" default="false"/>
    <arg name="Limit_IO" default="false"/>
    <arg name="Limit_Proc" default="false"/>
    <arg name="Limit_Debug" default="true"/>

    <!-- ハードウェア入出力系 -->
    <group unless="$(arg Limit_HardIO)">
        <node name="gpio_in" pkg="py_control" type="Gpio_In.py" output="screen" respawn="true"/>
        <node name="gpio_out" pkg="py_control" type="Gpio_Out.py" output="screen" respawn="true"/>
        <node name="grove_ad" pkg="py_control" type="Grove_AD.py" output="screen" respawn="true"/>
    </group>

    <!-- 入出力系 -->
    <group unless="$(arg Limit_IO)">
        <node name="storage" pkg="py_control" type="Storage.py" output="screen" respawn="true"/>
    </group>

    <!-- 処理解析系 -->
    <group unless="$(arg Limit_Proc)">
        <node name="mon_workerstat" pkg="py_control" type="Mon_WorkerStat.py" output="screen" respawn="true"/>
        <node name="mon_sigtowerstat" pkg="py_control" type="Mon_SigTowerStat.py" output="screen" respawn="true"/>
        <node name="main" pkg="py_control" type="Main.py" output="screen" respawn="true"/>
    </group>
    
    <!-- デバッグ調整中 -->
    <group unless="$(arg Limit_Debug)">
        <param name="debug" value="1"/> 
    </group>

    <!-- 全体監視 -->
    <node name="mystat" pkg="py_control" type="MyStat.py" output="screen" respawn="true"/>

</launch>
